.mobile-view-header {
  width: 100%;
  background-color: #cd5c5c;
  color: black;

  cursor: pointer;
  display: flex;
  align-items: center;
}

.mobile-view-header p svg {
  color: white;
  cursor: pointer;
}

.mobile-nav {
  height: auto;
  width: 210px;
  margin-top: 10px;
  background-color: #cd5c5c;
  top: 0;
  z-index: 1;
}

.mobile-nav ul li {
  color: white;
  cursor: pointer;
  margin-top: 10px;
}

.responsive-mobile-view {
  position: sticky;
  top: 0;
  z-index: 1;
}

@media (min-width: 980px) {
  .responsive-mobile-view {
    display: none;
  }
}

@media (max-width: 979px) {
  .mobile-nav {
    display: flex;
  }
  .mobile-nav li {
    color: black;
  }
}
