.feedback-slider {
  height: auto;
  margin-top: 60px;
}

#dark .feedback-slider {
  color: white;
}
.feedback-slide {
  margin-top: 20px;
}

.content-slider {
  padding: 10px;
  color: white;
  background-color: #ff854c;
  margin-top: 50px;
  text-align: center;
  margin-bottom: 30px;
  margin: 10px;
  cursor: pointer;
}
#dark .content-slider {
  background-color: #38004c;
  color: white;
  box-shadow: -6px 11px 5px -4px rgba(0, 0, 0, 0.42);
  -webkit-box-shadow: -6px 11px 5px -4px rgba(0, 0, 0, 0.42);
  -moz-box-shadow: -6px 11px 5px -4px rgba(0, 0, 0, 0.42);
}

.content-slider:hover {
  background-color: rgb(15, 15, 249);
  box-shadow: -6px 11px 5px -4px rgba(0, 0, 0, 0.42);
  -webkit-box-shadow: -6px 11px 5px -4px rgba(0, 0, 0, 0.42);
  -moz-box-shadow: -6px 11px 5px -4px rgba(0, 0, 0, 0.42);
  transition-duration: 0.3s;
}

.content-slider img.image-slider {
  height: 80px;
  width: 80px;
  border-radius: 90px;
  display: block;
  object-fit: cover;
  margin-top: -30px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.slick-prev:before {
  font-size: 30px;
  color: #ff854c !important;
}

.slick-next:before {
  color: #ff854c !important;
}
.slick-disable {
  opacity: 0;
  pointer-events: none;
}
